#weekly-hardest-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    position: relative;
}

.crown-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.crown-icon {
    font-size: 60px;
    color: gold;
}

#weekly-hardest-level {
    margin: 50px auto 0;
    width: 100%;
    max-width: 1200px;
}